doctype 5
- load static from staticfiles
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
      block full_title
        {% if page.title %}{{ page.title }} – {{ site_settings.title }}{% else %}{{ site_settings.title }}{% endif %}
    link(rel='stylesheet', type='text/css', href='{% static "common/css/bootstrap.min.css" %}')
    link(rel='stylesheet', type='text/css', href='{% static "tracon11/css/tracon11.css" %}')
    script(src='{% static "common/js/jquery.min.js" %}', defer)
    script(src='{% static "common/js/bootstrap.min.js" %}', defer)
  body
    .navbar.navbar-inverse.navbar-fixed-top.tracon-navbar
      .container
        .navbar-header
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#tracon-navbar-collapse")
            span(class="sr-only") Avaa valikko
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")

          a.navbar-brand(href='/') {{ site_settings.title }}

        .collapse.navbar-collapse#tracon-navbar-collapse
          ul.nav.navbar-nav
            for entry in menu
              if entry.children
                li.dropdown(class="#{entry.active_css}")
                  a(href, class="dropdown-toggle", data-toggle="dropdown")= entry.text
                    b.caret
                  ul.dropdown-menu
                    li(class="#{child.active_css}"): a(href='#{entry.href}')= entry.text
                    for child in entry.children
                      li(class="#{child.active_css}"): a(href='#{child.href}')= child.text
              else
                li(class="#{entry.active_css}"): a(href='#{entry.href}')= entry.text
          ul.nav.navbar-nav.navbar-right
            if user.is_authenticated
              li.dropdown
                a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                  | {{ user.get_full_name }}
                  b.caret
                ul.dropdown-menu
                  li: a(href='/admin/') Sivuston ylläpito
                  li: a(href='/admin/logout/?next=/') Kirjaudu ulos
            else
              li: a(href="#{settings.LOGIN_URL}") Kirjaudu...

    .tracon-content-wrap
      block content
        p Content goes here.

      .tracon-footer-push

    footer
      .container
        p.tracon-credit
          small.text-muted Tracon 11 -tapahtuman järjestää <a href='http://ry.tracon.fi'>Tracon ry</a>. Sivustoa pyörittää {{ tracontent_footer|safe }}
